{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="admin-h1">{{ 'Характеристики'|trans|raw }}</h1>
    <div class="mb-3">
        <a href="{{ path('admin_parameter_add') }}" class="btn btn-primary" role="button"><i class="fas fa-plus-circle mr-2"></i>{{ 'Добавить'|trans|raw }}</a>
    </div>
    {% if parameters %}
        <table class="table table-responsive">
            <tr class="bg-light text-dark">
                <th>ID</th>
                <th>{{ 'Название'|trans|raw }}</th>
                <th class="text-center">{{ 'Продукты'|trans|raw }}</th>
                <th class="text-center">{{ 'Действия'|trans|raw }}</th>
            </tr>
            {% for parameter in parameters %}
                <tr>
                    <td>{{ parameter.id }}</td>
                    <td class="min-width-300"><a href="{{ path('admin_parameter_single', {'id': parameter.id}) }}" class="text-decoration-none">{{ parameter.name }}</a></td>
                    <td class="text-center"></td>
                    <td>
                        <div class="min-width-300 text-center">
                            <a class="btn btn-light" href="{{ path('admin_parameter_edit', {'id': parameter.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-light text-danger" href="{{ path('admin_parameter_delete', {'id': parameter.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="mt-3">{{ 'Нет характеристик'|trans|raw }}!</p>
    {% endif %}
{% endblock %}

