{% extends 'base.html.twig' %}

{% block title %}{{ 'Войдите в систему'|trans|raw }}{% endblock %}

{% block body_frontend %}
<form method="post" class="input-max-width-700">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    {% if app.user %}
        <div class="mb-3">
            {{ 'Вы вошли как'|trans|raw }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'Выйти'|trans|raw }}</a>
        </div>
    {% else %}
    <h1 class="h3 mb-3 font-weight-normal">{{ 'Войдите в систему'|trans|raw }}</h1>
    <div class="form-group">
        <label for="inputLogin">{{ 'Логин'|trans|raw }}</label>
        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" aria-describedby="loginHelp" placeholder="{{ 'Введите логин'|trans|raw }}" required autofocus>
        <small id="emailHelp" class="form-text text-muted">{{ 'Ваше уникальное имя в системе'|trans|raw }}</small>
    </div>
    <div class="form-group">
        <label for="inputPassword">{{ 'Пароль'|trans|raw }}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{ 'Введите пароль'|trans|raw }}" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    <div class="checkbox mb-3">
        <label class="font-weight-normal text-dark">
            <input type="checkbox" name="_remember_me"> {{ 'Запомнить меня'|trans|raw }}
        </label>
    </div>
    <button type="submit" class="btn btn-primary">{{ 'Войти'|trans|raw }}</button>
    {% endif %}
</form>
{% endblock %}
