{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1 class="admin-h1">{{ title }}</h1>
        <fieldset class="input-max-width-700 custom-project">
            {{ form_start(form_add) }}
            <ul class="nav nav-tabs" id="nameTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ru-name-tab" data-toggle="tab" href="#ru-name" role="tab" aria-controls="ru-name" aria-selected="true">RU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="uk-name-tab" data-toggle="tab" href="#uk-name" role="tab" aria-controls="uk-name" aria-selected="false">UK</a>
                </li>
            </ul>
            <div class="tab-content p-2 bg-light border border-top-0 mb-3" id="nameTabContent">
                <div class="tab-pane fade show active" id="ru-name" role="tabpanel" aria-labelledby="ru-name-tab">
                    {{ form_row(form_add.name) }}
                </div>
                <div class="tab-pane fade" id="uk-name" role="tabpanel" aria-labelledby="uk-name-tab">
                    {{ form_row(form_add.translation_name) }}
                </div>
            </div>
            {{ form_row(form_add.slug) }}
            <ul class="nav nav-tabs" id="descriptionTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ru-description-tab" data-toggle="tab" href="#ru-description" role="tab" aria-controls="ru-description" aria-selected="true">RU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="uk-description-tab" data-toggle="tab" href="#uk-description" role="tab" aria-controls="uk-description" aria-selected="false">UK</a>
                </li>
            </ul>
            <div class="tab-content p-2 bg-light border border-top-0 mb-3" id="descriptionTabContent">
                <div class="tab-pane fade show active" id="ru-description" role="tabpanel" aria-labelledby="ru-description-tab">
                    {{ form_row(form_add.description) }}
                </div>
                <div class="tab-pane fade" id="uk-description" role="tabpanel" aria-labelledby="uk-description-tab">
                    {{ form_row(form_add.translation_description) }}
                </div>
            </div>
            {{ form_row(form_add.is_visible) }}
            <div class="d-inline-block">{{ form_row(form_add.submitAndAdd) }}</div>
            <div class="d-inline-block">{{ form_row(form_add.submit) }}</div>
            {{ form_end(form_add) }}
        </fieldset>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}
