{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="admin-h1">{{ 'Теги публикаций'|trans|raw }}</h1>
    <div class="mb-3">
        <a href="{{ path('admin_article_tag_add') }}" class="btn btn-primary" role="button"><i class="fas fa-plus-circle mr-2"></i>{{ 'Добавить'|trans|raw }}</a>
    </div>
    {% if tags %}
        <table class="table table-responsive">
            <tr class="bg-light text-dark">
                <th>ID</th>
                <th>{{ 'Название'|trans|raw }}</th>
                <th class="text-center">{{ 'Публикации'|trans|raw }}</th>
                <th class="text-center">{{ 'Действия'|trans|raw }}</th>
            </tr>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td class="min-width-300"><a href="{{ path('admin_article_tag_single', {'id': tag.id}) }}" class="text-decoration-none{% if tag.isVisible != 1 %} text-disabled{% endif %}">{{ tag.name }}</a></td>
                    <td class="text-center">
                        {% if tag.articles %}
                            {{ tag.articles.count }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="min-width-300 text-center">
                            <a class="btn btn-light" href="{{ path('admin_article_tag_sort', {'id': tag.id}) }}" role="button"><i class="fas fa-exchange-alt fa-rotate-90"></i></a>
                            <a class="btn btn-light" href="{{ path('admin_article_tag_edit', {'id': tag.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-light text-danger" href="{{ path('admin_article_tag_delete', {'id': tag.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="mt-3">{{ 'Нет тегов'|trans|raw }}!</p>
    {% endif %}
{% endblock %}

