{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="admin-h1">{{ 'Доступность'|trans|raw }}</h1>
    <div class="mb-3">
        <a href="{{ path('admin_availability_add') }}" class="btn btn-primary" role="button"><i class="fas fa-plus-circle mr-2"></i>{{ 'Добавить'|trans|raw }}</a>
    </div>
    {% if availabilities %}
        <table class="table table-responsive">
            <tr class="bg-light text-dark">
                <th>ID</th>
                <th>{{ 'Название'|trans|raw }}</th>
                <th class="text-center">{{ 'Продукты'|trans|raw }}</th>
                <th class="text-center">{{ 'Действия'|trans|raw }}</th>
            </tr>
            {% for availability in availabilities %}
                <tr>
                    <td>{{ availability.id }}</td>
                    <td class="min-width-300"><a href="{{ path('admin_availability_single', {'id': availability.id}) }}" class="text-decoration-none" style="color:{{ availability.color }}!important;">{{ availability.name }}</a></td>
                    <td class="text-center">{#{{ availability.products.count }}#}</td>
                    <td>
                        <div class="min-width-300 text-center">
                            <a class="btn btn-light" href="{{ path('admin_availability_edit', {'id': availability.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-light text-danger" href="{{ path('admin_availability_delete', {'id': availability.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="mt-3">{{ 'Нет доступностей'|trans|raw }}!</p>
    {% endif %}
{% endblock %}
