<nav class="navbar navbar-light bg-dark sticky-top border-bottom px-3 shadow-sm">
    <a class="navbar-brand text-center" href="{{ path('admin_main') }}"><strong class="text-white font-weight-bold">CMP</strong><span class="text-muted small d-block">{{ 'Админпанель'|trans|raw }}</span></a>
    <div class="ml-2">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="#{#{{ path('admin_user_info', {'id': app.user.id}) }}#}" class="font-weight-bold text-dark">{{ app.user.login }}</a>
            <a href="{{ path('app_logout') }}" class="text-muted ml-2"><i class="fas fa-sign-out-alt"></i></a>
        {% endif %}

        <div class="d-inline-block">{% include 'common/locale_switcher.html.twig' %}</div>

    </div>
</nav>
