{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body_frontend %}
<style>

</style>

<div class="category-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="#">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Каталог</li>
        </ol>
    </nav>

    <h1 class="text-uppercase mb-3">Каталог</h1>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 card-block">
        {% set x = 1 %}
        {% set arrx = [1,2,3,4,5,6] %}
        {% for x in arrx %}
            <div class="col pb-3">
                <div class="card card-product h-100 position-relative rounded-0">
                    <div class="position-relative">
                        <a href="{{ path('frontend_category_single', { slug: 'slug' }) }}"><img src="https://fmagazin.ru/_files/editor/images/pic/daiwa/katushka_daiwa_crest-01_b.jpg" class="card-img-top rounded-0" alt="..."></a>
                        <div class="category-name-block">
                            <a href="#">Мебель</a>
                        </div>
                    </div>
                    <div class="card-body px-3 pb-2">

                        <div class="list-group w-100 category-list">
                            {% set y = 1 %}
                            {% set arry = [1,2,3,4,5] %}
                            {% for y in arry %}

                                <a class="list-group-item list-group-item-action rounded-0 border-0 p-2 font-weight-bold" href="#"><span class="d-inline-block text-wrap">Мебель для спальни {{ x~"."~y }}</span></a>

                                {% if y != 2 and y != 4 %}
                                <div class="list-group w-100 category-list pl-3">
                                    {% set z = 1 %}
                                    {% set arrz = [1,2,3] %}
                                    {% for z in arrz %}

                                        <a class="list-group-item list-group-item-action rounded-0 border-0 py-1 px-2 small" href="#"><span class="d-inline-block text-wrap">Кровати из дерева {{ x~"."~y~"."~z }}</span></a>

                                        {% set z = z + 1 %}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {% set y = y + 1 %}
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            {% set x = x + 1 %}
        {% endfor %}
    </div>


    <div class="block-title mt-4 mb-3">
        <strong>Новинки каталога</strong>
    </div>
    <div class="owl-carousel-big owl-carousel owl-theme">
        {% set x = 1 %}
        {% set arr = [1,2,3,4,5,6] %}
        {% for x in arr %}
            <div class="card card-product h-100 position-relative rounded-0">
                <div class="position-relative">
                    <a href="#"><img src="https://fish-mir.com/image/cache/data/Korma/prikormka/+865-500x500.jpg" class="card-img-top rounded-0" alt="..."></a>
                    <div class="gift-block">
                        <div class="gift font-weight-bold small">Доставка в подарок</div>
                    </div>
                </div>
                <div class="card-body pb-3">
                    <div class="card-title-expansion">
                        <a href="#" class="text-dark text-decoration-none d-block a-title">Кровать двухспальная с мягким изголовьем</a>
                        <div class="card-text text-muted small">Код товара: <strong>2134</strong></div>
                    </div>

                    <div class="pt-3">
                        <div class="small">
                            <span class="text-success">В наличии</span>
                            <span class="text-muted">(доставка до 3 дней)</span>
                        </div>
                    </div>

                    <div class="price-block mb-2">
                        <div class="price-old-percent">-15%</div>
                        <span class="price-old"><s>24000 грн.</s></span>
                        <span>23100 грн.</span>
                    </div>

                    <a href="#" class="card-link btn btn-primary align-middle" role="button"><i class="fad fa-info-circle mr-2"></i>Больше</a>
                    <a href="#" class="card-link h2 text-muted align-middle"><i class="fad fa-cart-arrow-down"></i></a>

                    <div class="tag-block">
                        <div class="mb-1"><a href="#" class="text-muted"><i class="fad fa-flag mr-2"></i>Прикормки</a></div>
                    </div>

                </div>
            </div>
            {% set x = x + 1 %}
        {% endfor %}
    </div>

    <div class="block-title mt-4">
        <strong>Часто спрашивают</strong>
    </div>

    <div class="accordion mt-3" id="accordionExample">
        <div class="card">
            <div class="card-header" id="heading1">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        <i class="fad fa-question-square fa-2x mr-2 align-middle"></i><span class="d-inline align-middle">Разворачиваемая панель #1</span>
                    </button>
                </h5>
            </div>

            <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>

        {% set x = 2 %}
        {% set arr = [2,3,4] %}
        {% for x in arr %}

            <div class="card">
                <div class="card-header" id="heading{{ x }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ x }}" aria-expanded="false" aria-controls="collapse{{ x }}">
                            <i class="fad fa-question-square fa-2x mr-2 align-middle"></i><span class="d-inline align-middle">Разворачиваемая панель #{{ x }}</span>
                        </button>
                    </h5>
                </div>
                <div id="collapse{{ x }}" class="collapse" aria-labelledby="heading{{ x }}" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>

            {% set x = x + 1 %}
        {% endfor %}

    </div>

    <div class="block-title mt-4">
        <strong>Информация</strong>
    </div>

    <article class="text-muted mt-3">
        <h2>Мебель для спальни на City Market Place</h2>
        <p>Мебель является неизменным атрибутом любого помещения. Именно она задает ему правильную атмосферу, делая пространство уютным и комфортным, создавая благоприятные условия для продуктивной работы или помогая отдохнуть после тяжелого дня. Все чаще клиенты предпочитают оформлять заказ в интернет магазине мебели , когда можно в сводное время сесть за компьютер, рассмотреть мебель на фото и спокойно купить мебель в Одессе, которая вам понравилась. Интернет магазин Табуретка имеет большой каталог мебели: в наличии имеется как мебель Львов для дома, так и для офиса. </p>
        <h2>Покупка мебели онлайн</h2>
        <p>На сайте мебели Табуретка Вы найдете богатый ассортимент мебели различного назначения: </p>
        <p>Садовая мебель. Современная и практичная мебель Винница выполнена из качественных материалов и прослужит Вам не один десяток лет. Красивые и аккуратные кресла, функциональные столики – в каталоге нашего магазина Вы найдете много мебели, которая обеспечит комфортный отдых в саду, а цены на мебель порадуют своей демократичностью. В продаже также имеются наборы мебели Житомир для открытых террас, шезлонги и качели с навесным тентом. Вся садовая мебель Хмельницкий легко моется, ее можно без труда сложить и спрятать на хранение, она не боится влаги и прямых солнечных лучей. </p>
        <p>Мебель для офиса. Такая мебель Николаев должна приносить комфорт и создавать продуктивную атмосферу в офисе, но при этом выглядеть стильно и солидно. Офисная мебель Черкассы бывает корпусной и мягкой. К корпусной можно отнести шкафы и стеллажи для хранения документов, стойки и столы. В отличие от мебели Белая Церковь для дома, офисные экземпляры имеют лаконичный дизайн и являются очень функциональными. Мягкая мебель Одесса для офиса отличается износостойкостью и непритязательна в уходе. </p>
        <p>Мебель для кухни. Магазин мебели Киев предлагает большой ассортимент мебели для кухни. Все гарнитуры имеют разную комплектацию, благодаря этому клиенты смогут выбрать мебель, которая будет иметь подходящие габариты и вместит всю кухонную утварь. В интернет магазине мебели официальный сайт Табуретка Вы сможете приобрести не только полноценный гарнитур, но и отдельные модули для кухни. </p>
        <p>Мебель для дома. Каждая квартира начинается с прихожей – там необходимо оборудовать место для хранения одежды. Можно выбрать вместительный шкаф-купе или отдать предпочтение стандартному угловому, либо обычному шкафу. В мебельном интернет магазине Табуретка есть возможность купить мебель для прихожей с доставкой по доступной цене. </p>
        <p>Для гостиной отлично подойдут мягкие диваны и кресла, а также небольшие тумбы и стеллажи для различных мелочей. В ассортименте присутствует как мебель Полтава из сруба дерева, так и более доступный ее аналог – мебель Киев из ДСП, практичность которой сложно переоценить. </p>
        <p>В качестве мебели Чернигов для спальни магазин предлагает кровати различного дизайна. В наличии имеются двуспальные и односпальные кровати, на сайте также можно купить мебель Киев для детей от 1 года. В дополнение к ним можно приобрести матрас – нужно только выбрать ту модель, которая соответствует параметрам основания кровати. </p>
    </article>

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('owl_carousel') }}
{% endblock %}
