{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div>
        <h1 class="admin-h1">{{ title }}</h1>
        <fieldset class="input-max-width-700 custom-project">
            {{ form_start(form_add) }}
            {{ form_row(form_add.parentCategory) }}
            <ul class="nav nav-tabs" id="nameTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ru-name-tab" data-toggle="tab" href="#ru-name" role="tab" aria-controls="ru-name" aria-selected="true">RU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="uk-name-tab" data-toggle="tab" href="#uk-name" role="tab" aria-controls="uk-name" aria-selected="false">UK</a>
                </li>
            </ul>
            <div class="tab-content p-2 bg-light border border-top-0 mb-3" id="nameTabContent">
                <div class="tab-pane fade show active" id="ru-name" role="tabpanel" aria-labelledby="ru-name-tab">
                    {{ form_row(form_add.name) }}
                </div>
                <div class="tab-pane fade" id="uk-name" role="tabpanel" aria-labelledby="uk-name-tab">
                    {{ form_row(form_add.translation_name) }}
                </div>
            </div>
            {{ form_row(form_add.slug) }}
            <ul class="nav nav-tabs" id="descriptionTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="ru-description-tab" data-toggle="tab" href="#ru-description" role="tab" aria-controls="ru-description" aria-selected="true">RU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="uk-description-tab" data-toggle="tab" href="#uk-description" role="tab" aria-controls="uk-description" aria-selected="false">UK</a>
                </li>
            </ul>
            <div class="tab-content p-2 bg-light border border-top-0 mb-3" id="descriptionTabContent">
                <div class="tab-pane fade show active" id="ru-description" role="tabpanel" aria-labelledby="ru-description-tab">
                    {{ form_row(form_add.description) }}
                </div>
                <div class="tab-pane fade" id="uk-description" role="tabpanel" aria-labelledby="uk-description-tab">
                    {{ form_row(form_add.translation_description) }}
                </div>
            </div>

            <div class="text-dark font-weight-bold h5">{{ 'Изображение'|trans|raw }}</div>
            <div class="position-relative mb-3 img-block" style="max-width: 350px;">
                {% set noImg = asset('build/images/common/no-image.png') %}
                {% if form_add.image.vars.value %}
                    {% set src = asset(image_category_dir ~ '/' ~ form_add.image.vars.value) %}
                    {% set val = form_add.image.vars.value %}
                {% else %}
                    {% set src = noImg %}
                    {% set val = '' %}
                {% endif %}
                <div class="d-none">
                    {{ form_widget(form_add.image, {'value' : val}) }}
                </div>
                <img src="{{ src }}" id="category_img_tag" class="img-tag img-fluid m-1" data-no-image="{{ noImg }}" data-old-image="{{ src }}" data-name-image="{{ form_add.image.vars.value }}">
                <div class="position-absolute bg-light-opacity px-2 py-1" style="top:10px;left:10px">
                    <div class="dropdown d-inline-block">
                        <a class="no-caret dropdown-toggle h4 mb-0 pl-1 text-decoration-none text-dark" href="#" id="dropdownImageAdd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-image"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownImageAdd">
                            <a href="javascript:void(0);"
                               class="dropdown-item add-image small"
                               data-ratio="{{ 800/600 }}"
                               data-min-length="150/113"
                               data-max-size="{{ 2*1024*1024 }}"
                               data-output-length="800/600"
                               data-idn="category_img_tag"
                               data-title="{{ 'Добавление изображения'|trans|raw }}">{{ 'Изменить'|trans|raw }}</a>
                            <a class="dropdown-item small reset-img" href="javascript:void(0);">{{ 'Сбросить'|trans|raw }}</a>
                            <a class="dropdown-item small clear-img" href="javascript:void(0);">{{ 'Нет изображения'|trans|raw }}</a>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_row(form_add.is_visible) }}
            <div class="d-inline-block">{{ form_row(form_add.submitAndAdd) }}</div>
            <div class="d-inline-block">{{ form_row(form_add.submit) }}</div>
            {{ form_end(form_add) }}
        </fieldset>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ckeditor') }}
    {{ encore_entry_script_tags('single_image_add') }}
    {{ encore_entry_script_tags('cropping_image') }}
{% endblock %}
