{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="admin-h1">{{ 'Подписи'|trans|raw }}</h1>
    <div class="mb-3">
        <a href="{{ path('admin_product_caption_add') }}" class="btn btn-primary" role="button"><i class="fas fa-plus-circle mr-2"></i>{{ 'Добавить'|trans|raw }}</a>
    </div>
    {% if captions %}
        <table class="table table-responsive">
            <tr class="bg-light text-dark small">
                <th>ID</th>
                <th>{{ 'Название'|trans|raw }}</th>
                <th class="text-center">{{ 'Продукты'|trans|raw }}</th>
                <th class="text-center">{{ 'Действия'|trans|raw }}</th>
            </tr>
            {% for caption in captions %}
                <tr>
                    <td>{{ caption.id }}</td>
                    <td class="min-width-300">
                        <a href="{{ path('admin_product_caption_single', {'id': caption.id}) }}" class="text-decoration-none px-3 py-1 d-inline-block" style="{% if caption.colorFill %}background-color:{{ caption.colorFill }};{% endif %}{% if caption.colorText %}color:{{ caption.colorText }};{% endif %}">{{ caption.name }}</a>
                        <div class="small p-1">{{ 'Добавил'|trans|raw }}: <strong>{{ caption.user.login }}</strong></div>
                    </td>
                    <td class="text-center">{{ caption.products.count }}</td>
                    <td>
                        <div class="min-width-300 text-center">
                            <a class="btn btn-light" href="{{ path('admin_product_caption_sort', {'id': caption.id}) }}" role="button"><i class="fas fa-exchange-alt fa-rotate-90"></i></a>
                            <a class="btn btn-light" href="{{ path('admin_product_caption_edit', {'id': caption.id}) }}" role="button"><i class="fas fa-edit"></i></a>
                            <a class="btn btn-light text-danger" href="{{ path('admin_product_caption_delete', {'id': caption.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p class="mt-3">{{ 'Нет подписей'|trans|raw }}!</p>
    {% endif %}
{% endblock %}
