{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="admin-h1">{{ 'Сортировка подписей'|trans|raw }}</h1>
    {% if captions %}
        <ul class="list-group sortable">
            {% for caption in captions %}
                <li id="{{ caption.id }}" class="list-group-item rounded-0 sort{%  if caption == current %} text-primary bg-light h5 m-0{% endif %}">
                    {%  if caption == current %}<i class="fas fa-arrows-alt mr-2 sort-handle"></i>{% endif %}
                    {{ caption.name }}
                </li>
            {% endfor %}
        </ul>
        <div class="mt-3">
            {{ form_start(form_sort) }}
            {{ form_row(form_sort.sorted_data) }}
            {{ form_row(form_sort.submit) }}
            {{ form_end(form_sort) }}
        </div>
    {% else %}
        <p class="mt-3">{{ 'Нет подписей'|trans|raw }}!</p>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sortable') }}
{% endblock %}
